<section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img src="assets/testimonial-1.jpeg" class="img-fluid rounded b-shadow-a" alt="imagen de perfil personal">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span id="about-info-name" class="title-s">Nombre: </span> <span>Adrià Jordà</span></p>
                                            <p><span id="about-info-perfil" class="title-s">Perfil: </span> <span id="about-info-perfil-span">Programador Desarrollador Web Full Stack</span></p>
                                            <p><span class="title-s">Email: </span> <span>adria.jorda.m&#64;gmail.com</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-mf">
                                    <p id="skill-cursos-titulo" class="title-s">Cursos en Desarrollo</p>
                                    <span>Oxford Certificate in Advanced English C1</span> <span class="pull-right">100%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <a id="skill-cursos-udemy-web" title="curso udemy desarrollo web" href="https://www.udemy.com/course/desarrollo-web-completo-con-html5-css3-js-php-y-mysql/"><span>Desarrollo Web Completo con CSS3, JS, AJAX, PHP y MySQL</span></a> <span class="pull-right">100%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <a id="skill-cursos-udemy-python" title="curso udemy python" href="https://www.udemy.com/course/master-en-python-aprender-python-django-flask-y-tkinter/"><span>Master en Python: Aprender Python 3, Django, Flask y Tkinter</span></a> <span class="pull-right">100%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span id="skill-cursos-udemy-fp" >FP Superior de Desarrollo de aplicaciones Web</span> <span class="pull-right">100%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span id="skill-cursos-udemy-ai-pymes">Formación Ai Para PYMES de Adira Formación</span> <span class="pull-right">100%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>Microsoft Course: Ai for Beginners</span> <span class="pull-right">30%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="30"></div>
                                    </div>

                                    <p id="years-expirience" class="title-s">3 años de experiencia en el sector del desarrollo software</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h2 id="skill-experiencia" class="title-left">
                                            Experiencia Laboral
                                        </h2>
                                    </div>
                                    <p><a title="enlace empresa Sollutia" href="https://www.sollutia.com/"><strong>Sollutia:</strong></a> <span id="skill-experiencia-sollutia">1 año como Desarrollador Web Full Stack</span></p>
                                    <p><a title="enlace empresa Evolutia" href="https://www.evolutia.eu/"><strong>Evolutia:</strong></a> <span id="skill-experiencia-evolutia">2 años como Desarrollador Web en escalación
                                        , desarrollo y mantenimiento de proyectos software</span></p>
                                    <div class="title-box-2">
                                        <h2 id="about-me" class="title-left">
                                            Sobre mi
                                        </h2>
                                    </div>
                                    <!--<p class="lead">
                                        Desarrollador Web Autodidacta, con gran pasión por aprender nuevas tecnologías y estar actualizado con las novedades y los nuevos ecosistemas emergentes.
                                    </p> -->
                                    <p id="skill-presentacion-1">¡Hola! Soy un programador autodidacta que vive y respira tecnología. Siempre estoy al tanto de las novedades y herramientas emergentes para crear soluciones funcionales. Mi curiosidad y mentalidad resolutiva me llevan a enfrentar cualquier desafío con entusiasmo, utilizando nuevas tecnologías para hacer mi trabajo más eficiente y divertido.</p>
                                    <p id="skill-presentacion-2">Actualmente estoy profundizando en tecnologías de inteligencia artificial y sus fundamentos teóricos para crear soluciones avanzadas y efectivas.</p>
                                    <p id="skill-presentacion-3">
                                        Soy una persona curiosa y siempre estoy investigando, con un espíritu autodidacta en todo lo relacionado con la informática. Me considero pacífico y positivo, ¡siempre listo para aprender y crecer!
                                    </p>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>