 <!--/ Section Portfolio Star /-->
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h2 id="portfolio-title" class="title-a">
                            Portfolio
                        </h2>
                        <p id="portfolio-subtitle" class="subtitle-a">
                            Sitios web desarrollados durante mi formación.
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="work-box">
                        <a title="enlace a ejemplo portfolio rock and roll" href="https://unruffled-volhard-3f47ca.netlify.app/">
                            <div class="work-img">
                                <img src="img/rock.JPG" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Rock & EDM Festival</h2>
                                        <div class="w-more">
                                            <span class="w-date">25 de Enero 2021</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a title="enlace a ejemplo portfolio barberia" href="https://agitated-elion-6508ab.netlify.app/">
                            <div class="work-img">
                                <img src="img/barberia.JPG" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">WebApp Barberia</h2>
                                        <div class="w-more">
                                            <span class="w-date">7 de Febrero 2021</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a title="enlace a ejemplo portfolio cafe" href="https://keen-visvesvaraya-8af06a.netlify.app/">
                            <div class="work-img">
                                <img src="img/cafe.JPG" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Blog de Café</h2>
                                        <div class="w-more">
                                            <span class="w-date">14 de Junio 2021</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a title="enlace a ejemplo bienes" href="https://mystifying-golick-7b7d03.netlify.app/">
                            <div class="work-img">
                                <img src="img/bienes.JPG" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Venta de bienes</h2>
                                        <div class="w-more">
                                            <span class="w-date">11 de Noviembre 2020</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a title="enlace a ejemplo portfolio" href="https://amazing-tereshkova-8231e3.netlify.app/">
                            <div class="work-img">
                                <img src="img/portf-m.JPG" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Ejemplo de Porfolio</h2>
                                        <div class="w-more">
                                            <span class="w-date">23 de Noviembre 2021</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/ Section Portfolio End /-->