<!--/ Section Services Star /-->
<section id="service" class="services-mf route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h2 id="skill-title" class="title-a">
                        Habilidades
                    </h2>
                    <p id="skill-subtitle" class="subtitle-a">
                        Conocimientos informáticos y demás habilidades
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box show-skills-btn-languaje">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-code"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 id="skill-lenguajes" class="s-title">Lenguajes de Programación</h2>
                        <ul class="s-description text-center list-unstyled">
                            <li>PHP</li>
                            <li>Python</li>
                            <li>Java</li>
                            <li>
                                <button id="" class="interactive-element boton-ver-todo">Ver Todo</button>
                            </li>
                        </ul>
                    </div>      
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box show-skills-ide">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-laptop"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 id="skill-ide" class="s-title">IDE (Entornos de Desarrollo Integrado)</h2>
                        <ul class="s-description text-center list-unstyled">
                            <li>PhpStorm</li>                        
                            <li>PyCharm</li>
                            <li>Visual Studio</li>                                
                            <li>
                                <button id="" class="interactive-element boton-ver-todo">Ver Todo</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box show-skills-btn-frameworks">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-code-working"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 id="skill-frameworks" class="s-title">FrameWorks y Librerías</h2>
                        <ul class="s-description text-center list-unstyled">
                            <li>Symfony/Laravel</li>
                            <li>Spring</li>
                            <li>Vue.js</li>
                            <li>
                                <button id="" class="interactive-element boton-ver-todo">Ver Todo</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box show-skills-btn-other">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-monitor"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 id="skill-otras-tech-title" class="s-title">Otras Tecnologías</h2>
                        <ul class="s-description text-center list-unstyled">
                            <li>Web Scraping</li>
                            <li>Docker</li>
                            <li>Sistemas Operativos Linux</li>
                            <li>
                                <button id="" class="interactive-element boton-ver-todo">Ver Todo</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-person-stalker"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 id="skill-otras-habilidades-title" class="s-title">Otras habilidades</h2>
                        <ul class="s-description text-center list-unstyled">
                            <li id="idioma-otras-habilidades">Inglés de nivel C1</li>
                            <li>GitHub/BitBucket/GitLab</li>
                            <li>ArcGIS</li>
                            <li>Figma</li>
                            <li>AutoCAD</li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services End /-->

<!--/ Section Books Star /-->
<section id="book" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h2 id="books-title" class="title-a">
                        Libros Leídos
                    </h2>
                    <p id="books-subtitle" class="subtitle-a">
                        ¡Hay que desconectar de las pantallas también!
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a title="enlace amazon clean code" href="https://www.amazon.es/C%C3%B3digo-Limpio-desarrollo-software-Programaci%C3%B3n/dp/8441532109">
                        <div class="work-img">
                            <img src="img/clean-code.png" alt="" class="img-fluid">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a title="enlace amazon limpiador de" href="https://www.amazon.es/limpiador-c%C3%B3digo-programadores-profesionales-Especiales/dp/8441540845?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=B968LQ68SWJI&dib=eyJ2IjoiMSJ9.djtHMpfl2yFtYFmEl5m0bdc0mi9vEzKfgD5VNswukMI.1lnS9_cBnbu8i-lF6mX09YuaCAe5CAKAQYYOdz_uP50&dib_tag=se&keywords=limpiador+de+codigo&qid=1744276850&s=books&sprefix=limiador+de+codigo%2Cstripbooks%2C154&sr=1-1">
                        <div class="work-img">
                            <img src="img/limpiador-codigo.png" alt="" class="img-fluid">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a title="Enlace a Programador Pragmatico Amazon" href="https://www.amazon.es/programador-pragm%C3%A1tico-Edici%C3%B3n-especial-ESPECIALES/dp/8441545871?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1QGDGSGRF6HJ1&dib=eyJ2IjoiMSJ9.cjoEY8QplAlTMUsEQfHCmI0nrOlWkh-7BXw-jFGy6B_fF4hvgM9UeUqucLDw2hI_mKJb224oMaXJJk9kUO03qYC-25TzSmDZMpK07sVEw3xAXwV713l7b6tIeBoYU4VMqACqkFb71k9jsaqbVk6LBHVsfVPhBvJWriGr7mIt689iBXKcSr9WOZ7bQDvQFFkwHCbD-yqbJZUt6xJhhvCN0W16TvEWMvIiK4OjnznkV5Q.uiRaYkLgOI178dZL4KDlAeGQBVtp-QufAIBEtZMz0fo&dib_tag=se&keywords=programador+pragmatico&qid=1744276715&s=books&sprefix=programador+pragmatic%2Cstripbooks%2C153&sr=1-1">
                        <div class="work-img">
                            <img src="img/programador-pragmatico.png" alt="" class="img-fluid">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Books End /-->